*{
    padding: 0px;
    margin: 0px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40px;
    left: 50%;
}

#uloha{
    height: 20px;
    width: 350px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 100px;
    border-radius: 15px;
}

#add{
    height: 30px;
    width: 100px;
    margin-left: 10px;
    border-radius: 15px;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}

.container{
    height: 50px;
    width: 250px;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 15px;
}

.checkmark{
    height: 30px;
    width: 30px;
    display: flex;
    margin: 10px;
    background-color: lime;
    background-image: url(checkmark.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}